<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mast.name %>
</p>

<p>
  <strong>:</strong>
  <%= @mast. %>
</p>

<%= link_to 'Edit', edit_mast_path(@mast) %> |
<%= link_to 'Back', masts_path %>
